<div id="container-instructions" class="card">

    <div class="card-header">
        <h4><strong> Eye Tracking Instructions</strong> (Please read the following very carefully)</h4>
    </div>

	<div class="instructions card-body">

        <p>This experiment uses your camera for eye tracking.</p>
        <p>In order to participate you must allow the experiment to use your camera.</p>
        <p>You will be prompted to do this on the next screen.</p>

        <p class="alert alert-info">
        
        </p>


        <p class="alert alert-warning">

        </p>

        <p class="alert alert-warning">

        </p>

        <p class="alert alert-warning">

        </p>


        <p class="alert alert-warning">

        </p>

        <p class="alert alert-danger">
            <strong>NOTE.5</strong>: If you do not want to permit the experiment to use your camera, please close the page.
        </p>

	</div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
